<html lang="en">
 {% include "appHeader.html" %}
 {% include "header.html" %}
<body>
    <div class="content">
        <h1 class="actionhead">Delete "{{flower.name}}"?</h1>

        <form action="{{url_for('deleteFlower', arrangement_id = flower.arrangement_id, flower_id = flower.id)}}" method="POST">

            <input class="delete" type="submit" value="Delete">
            <a class="cancel" href="{{url_for('showArrangement', arrangement_id = flower.arrangement_id)}}">Cancel</a>

        </form>
    </div>
</body>

</html>
