<html>
{% include "header.html" %}
<body>
 <div class="content">
  	<h2 class = "arrangement">{{arrangement.name}}</h2>

  <div class="topmenu">
    <a class="topmenuitem" href='{{url_for('showCatalog')}}'>Back</a>

    <a class="topmenuitem" href='{{url_for('addFlower', arrangement_id = arrangement.id)}}'>Add New</a>
  </div>

  {% if flowers %}

  {% for flower in flowers %}

  <div class="arrangementLink">
    
    <div class="cardPicContainer">
      
     <img class="cardPic" src="{{flower.picture}}"></img>
    
    </div>

    <div class="cardDetails">
     <h3>{{flower.name}}</h3>

     <p class="description">{{flower.description}}</p>

     <p class="price"> {{flower.price}} </p>

     <div class="actions">

       <a href ='{{url_for('editFlower', arrangement_id = arrangement.id, flower_id = flower.id)}}'>Edit</a>

       <a href ='{{url_for('deleteFlower', arrangement_id = arrangement.id, flower_id = flower.id)}}'>Delete</a>

     </div> 
    </div>
    </br></br>

  </div>


{% endfor %}

{% else %}

<div>
  <p>No Flowers Yet!
    <a href='{{url_for('addFlower', arrangement_id = arrangement.id)}}'>
    Add the first.
    </a>
  </p>
</div>

{% endif %}

</body>

</html>
