<head>
  <link rel="apple-touch-icon" sizes="57x57" href="/catalog/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/catalog/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/catalog/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/catalog/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/catalog/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/catalog/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/catalog/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/catalog/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/catalog/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/catalog/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/catalog/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/catalog/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/catalog/images/favicon-16x16.png">
  <link rel="manifest" href="/catalog/images/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/catalog/images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Hind+Madurai|Rochester" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
</head>
<div class="header, content">
	<title>A Floral Arrangement Catalog</title>
        <div class="headerloginmenu">
		{% with messages = get_flashed_messages() %}

		{% if messages %}

  		<ul>

  		{% for message in messages %}

  			<li class="actionhead"><strong>{{message}}</strong></li>

  		{% endfor %}

  		</ul>

  		{% endif %}

  		{% endwith %}

                <a class="login-text" href="{{url_for('disconnect')}}">logout</a>
        </div>
	<img class="site-logo" src="/catalog/images/catalog-icon.png"></img>
	<h1 class="site-title">A Floral Arrangement Catalog</h1> 
</div>
