<html>
{% include "appHeader.html" %}
{% include "header.html" %}

<body>
    <div class="content">
        <h2 class="actionhead">Add a new arrangement?</h2>

        <form action="{{url_for('createArrangement')}}" method="post">

            <p class="label">Name:</p>
            <input class="textinput" type="text" size="30" name="name">

            <p class="label">Description:</p>
            <input class="textinput" type="text" size="30" name="description">

            <p class="label">Base Price:</p>
            <input class="textinput" type="text" size="30" name="base_price">

            <p class="label">Picture URL:</p>
            <input class="textinput" type="text" size="30" name="picture">

            <div class="formactioncontainer">
                <input class="button formaction" type="submit" value="Create">
                <a class="formaction" href="{{url_for('showCatalog')}}">Cancel</a>
            </div>

        </form>

    </div>
</body>

</html>
