<html>
{% include "publicHeader.html" %}

<body>
 <div class="content">
  <h2 class = "arrangement">{{arrangement.name}}</h2>

  <div class="topmenu">
    <a class="topmenuitem" href='{{url_for('showCatalog')}}'>Back</a>

  </div>
  {% if flowers%}

  {% for flower in flowers %}

  <div>
   <div class="cardPicContainer">
	   
	<img class="cardPic" src="{{flower.picture}}"></img>
   </div>

   <div class="cardDetails"> 
    <h3>{{flower.name}}</h3>

    <p class="description">{{flower.description}}</p>

    <p class="price"> {{flower.price}} </p>
   </div>
   
   </br></br>

  </div>


 {% endfor %}

 {% else %}

 <p>No Flowers Yet! Please <a href="{{url_for('showLogin')}}">Sign in</a> to Add the First!<p>

 {% endif %}

 </div>
</body>

</html>
