{% include appHeader.html %}

<div class="header, content">
    <title>A Floral Arrangement Catalog</title>
    <div class="headerloginmenu">
        {% with messages = get_flashed_messages() %}

        {% if messages %}

        <ul>

            {% for message in messages %}

            <li class="actionhead"><strong>{{message}}</strong></li>

            {% endfor %}

        </ul>

        {% endif %}

        {% endwith %}

        <a id="header-login" class="login-text" href="{{url_for('showLogin')}}">login</a>
    </div>
    <img class="site-logo" src="/catalog/images/catalog-icon.png"></img>
    <h1 class="site-title">A Floral Arrangement Catalog</h1>
</div>
